[user]
	name = okazuya
	email = 2351632+okazuya@users.noreply.github.com
[core]
	editor = /usr/bin/vim -N -u ~/.vimrc -c 'set fenc=utf-8'
	pager = lv -Ia -Ou8
[alias]
	wdiff = diff -w
	st = status
	br = branch
	squash = merge --squash
	co = checkout
	tree = log --graph --all --format=\"%x09%an%x09%h %d %s\"
[pager]
	branch = false
